

<h1>All Events</h1>

<div class="row">
  <div class="col-md-8">
    <div class="calendar"></div>
  </div>

  <div class="col-md-4">

    <% @sidebarevents.each do |event| %>
      <div class="album text-muted">
        <div class="container">
          <div class="card">
            <div class="row">
              <div class="col-md-6">
                <div class="column-left">
                   <h5 class="event-title"><%= link_to event.title, event %></h5>
                  <%= image_tag "#{event.thumb_image}", width: 300, height: 300 %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="column-right">
                  <p><%= event.description %></p>
              
                  <p><%= "Event took place at #{event.location}." %></p>
                  <% if user_signed_in? %>
                    <%= link_to "favorite",   favorited_event_path(event, type: "favorite"), method: :put %>
                  <% end %>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

