<p id="notice"><%= notice %></p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<div class="container show-hide-over event-show-container">

  <div class="card show-wrapper show-hide-over">
    <div class="row show-row show-hide-over">
      <div class="show-top-row">
        <%= image_tag @event.image, class: "event-main-image" %>
<!--       <span class="show-title-span"><%= @event.title %></span> -->
      </div>
      

      <div class="col-md-5" id="map">
          <iframe
           width="500"
           height="500"
           frameborder="0" style="border:0"
           src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDF5J93Eakk2D-gxiHYmPDA-vwwemgTxLQ
             &q= 380 N 850th E Lehi, UT 84043" allowfullscreen>
          </iframe>
      </div>
        <div class="col-md-7" id="guest-form">
          <p><span><h3><%= @event.title %></h3></span></p>
          <p><span><%= @event.body %></span></p>
          <p><span><%= @event.date %></span></p>
          <p><span>Host: <%= @event.user.name %></span></p>


<!--           <form action="#" method="post">
            <div class="form-group">
              <input placeholder="Name" rows="15" class="form-control" id="contact-body"></input>
            </div>
            <div class="form-group">
              <input type="email" placeholder="Email" class="form-control"></input>
            </div>
            <input placeholder="Number of people attending" rows="15" class="form-control" id="contact-body"></input> -->
<!--             <div class="form-group contact-btn-wrapper">
              <button type="submit" class="btn btn-primary  form-control">Send</button>
            </div> -->
            <div class="container">
              <div class='contact-btn-wrapper'>
                <% if user_signed_in? %>
                  <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary' %>
                  <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
                  <%= link_to 'Back', events_path, class: 'btn btn-primary' %>
                <% else %>
                  <%= link_to 'Back', events_path, class: 'btn btn-primary'%>
                <% end %>
              </div>
            </div>
        </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
